p {
    color: white;
    font-weight: bold;
    font-size: 1em;
    margin: 5%;
}

h1 {
    color: #58f2dd;
}

hr {
    color: #f60053;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.linkBtn {
    cursor: pointer;
}